
body{
    font-family: Arial, Helvetica, sans-serif;
}

h5, h6{
    color: #626262;
}

header #my-header-top{
    background-color: black;
}

header img#my-logo-sony{
    width: 100px;
}

main section#jumbotron #my-jumbotron-top{
    height: 675px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}

main section#playstation-5 #my-contain-info-ps5 .my-text-blue{
    color: #0673d2;
    font-size: 0.9rem;
}

main section#new-game .banner{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main section#new-game #new-releases {
    background-color: #1f1f1f;
}

main section#playstation-4 .banner{
    background-color: #bebcbb;
}

main section#playstation-4 #my-contain-info-ps4 #my-simbol-reg{
    font-size: 20px;
    vertical-align: super;
}

main section#sconti .banner{
    background-color: #161c3b;
}

footer div#my-footer{
    background-color: #0070d1;
}

footer div#my-footer #my-logo-globe{
    width: 20px;
}

footer div#my-footer ul li{
    list-style: none;
}

footer #my-footer #logo-sie{
    width: 150px;
}







